*{
    background-color: rgb(66, 64, 64);
}

header{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400x;
    background-color: yellow;
    position: relative;
    text-align: center;
    
}
header h1{
    
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    font-size: 100px;
    font-weight: bolder;
    background-color: yellow;
}

header div{
    background-color: yellow;
}
header p{

    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    font-size: 25px;
    font-weight: bolder;
    background-color: yellow;
    text-decoration: underline;
}
header #quizText, #quizValue{
    text-decoration: none;
    font-size: 50px;
    color: red;

}
section{

    height: 200px;
}
div{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

button {

    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    text-decoration: 10px underline red;
    padding: 10px;
    cursor: pointer;
    font-size: 200px;
    background-color: yellow;
    color: black;
    border: 10px solid black;
    border-radius: 65px;

  }
  button:hover{
    background-color: green;
    text-decoration: none;
  }
  button:active{
    background-color: red;
    text-decoration: none;
    transform: scale(0.95);
  }


/* countdown id's are esablished in HTML and is used to make sure the coundown is set diplay into nothing until called upon in javascrpit.*/
#countdownContainer{
    display: none; /* used to make the container holding the text to dissapear until called upon in javascript.*/
    width: 100%;
    height: 250px;

}

#countdownText{
    font-size: 110px;
    color: red;
}


/* question id's are established in HTML and is used to pop up questions to user.*/
#questionsContainer{

    display: none; /* used to make the container holding the text to dissapear until called upon in javascript.*/
    position: relative;
    width: 100%;
    height: 250px;
}

#questionElement{
   
    display: none;
    width: 100%;
    height: 250px;
    position: relative;
    font-size: 50px;
    color: red;
}

#answerElement{

    display: none;
    position: relative;
    

}

#endGame{

    display: none;
    position: relative;

}